body.page-template-gallery {

	.jp-carousel-info {
		display: none;
	}

	.jp-carousel-overlay {
		opacity: 0.98 !important;
	}

	.jp-carousel-close-hint span {
		font-size: 48px !important;
		height: 48px;
	}

	section.gallery {
		padding: 40px 0;


		.section-header {
			padding: 0 0 40px 0;

			h1 {
				font-family: $schoolbook;
				font-weight: normal;
				font-size: 2em;
				border-bottom: 4px solid;
				padding: 0 0 5px 0;
				display: inline-block;
				text-align: center;

				@include tablet-portrait {
					font-size: 3em;
				}
			}
		}

	}

}