header {
	background: $blue;
	padding-bottom: 40px;

	@include tablet-portrait {
		padding-bottom: 0;
	}

	.header-wrapper {
		border-color: $white;
		border-width: 1px;
	}

	.info {
		h3 {
			font-weight: bold;
			color: $white;
		}

		p {
			font-family: $schoolbook;
			color: $white
		}
	}

	&.status-view {
		.status {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.logo {
			width: 100%;

			@include tablet-landscape {
				width: auto;
			}

			.image {
				width: 80%;

				@include tablet-landscape {
					width: 100%;

				}
			
				img {
					margin: 0;					
					transform: none;
					max-width: 200px;

					@include tablet-portrait {
						margin: 0;
						max-width: 300px;
					}

					@include desktop {
						max-width: 300px;
					}
				}		
			}	
		}


		.message {
			color: $white;
			width: 100%;
			flex: 1;
			text-align: center;
			padding-top: 50px;

			@include tablet-landscape {
				padding-left: 50px;
				text-align: left;
				width: auto;
				padding-top: 0;
			}

			.headline {
				padding-bottom: 15px;

				h2 {
					font-size: 1.5rem;
					

					@include desktop {
						font-size: 2rem;
					}
				}
			}

			.copy {
				p {
					font-size: 1rem;
					font-style: normal;
					line-height: 1.75em;
					font-family: $schoolbook;

					& + p {
						padding-top: 10px;
					}

					@include desktop {
						font-size: 1.25rem;
					}
				}
			}
		}
	}


}

nav.desktop {
	background: $blue;

	.main-nav {
		a {
			color: $white;

			&:after {
				padding: 0 20px;

				@include desktop {
					padding: 0 30px;
				}
			}

		}
	}
}

nav.mobile {

	a {
		color: $white;
	}
}


section.call-to-actions {
	background: $blue;
	padding-top: 20px;
	padding-bottom: 20px;

	.btn {
		a {
			border-color: $white;
			color: $white;

			&:hover {
				background: $white;
				color: $teal;
			}
		}
	}

	.text {

		p {
			font-family: $schoolbook;
			color: $white;
			font-style: italic;
		}
	}

}


#toggle {

	.patty {
	    background: $white;

		&:after, &:before {
		    background: $white;
		}

	}
}


nav .social a {
	background: none !important;
	width: 16px !important;
	height: 16px !important;
}