body.home {

	section#cinco-de-mayo {
		padding: 40px 0 0 0;

		#countdown {
			background: #cb6453;
			color: $white;
			padding: 14px 10px 10px 10px;
			text-align: center;

			h2 {
				font-family: $open-sans;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				line-height: 1.5em;
				font-size: 1em;
				font-weight: bold;
			}
		}

	}

	section#photos {
		padding: 40px 0 20px 0;

		.wrapper {
			max-width: 100%;
			padding: 0 0;
		}

		.photos-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.photo {
				width: 100%;

				& + .photo {
					padding: 20px 0 0 0;
				}

				@include tablet-portrait {
					width: 32.8333%;

					& + .photo {
						padding: 0;
					}

				}
			}
		}
	}

	section#info {
		margin: 0 0 20px 0;

		.info-wrapper {
			padding: 25px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.photo {
				width: 100%;
				padding: 0 0 20px 0;

				@include tablet-portrait {
					width: 50%;
					padding: 0;
				}

				@include tablet-landscape {
					width: 30%;
				}

				img {
					transform: rotate(-0.5deg);
				}
			}

			.description {
				width: 100%;

				@include tablet-portrait {
					width: 50%;
					padding: 0 0 0 40px;
				}

				@include tablet-landscape {
					width: 70%;
				}

				p {
					font-family: $schoolbook;
					font-size: 1em;
					line-height: 1.5em;

					@include tablet-landscape {
						font-size: 1.25em;
					}
				}
			}

			.contact-details {
				padding-top: 50px;
				max-width: 800px;
				width: 100%;
				margin: 0 auto;
				text-align: center;

				@include mobile-landscape {
					display: flex;
					justify-content: space-between;

					& > * {
						width: calc(50% - 25px);
					}
				}

				.location {
					padding-top: 50px;

					@include mobile-landscape {
						padding-top: 0;
					}
				}

				h3 {
					color: $coral;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					padding-bottom: 10px;
				}

				p {
					font-family: $schoolbook;
					font-size: 1em;
					line-height: 1.5em;

					@include tablet-landscape {
						font-size: 1.25em;
					}
				}
			}


		}

	}


	section#announcement + section#photos {
		padding-top: 10px;
	}

}