body.page-template-hours {

	section.standard {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}

		.wrapper {
			max-width: 400px;

			@include tablet-portrait {
				max-width: 600px;
			}


			@include tablet-landscape {
				max-width: 400px;
				padding: 0;
			}

		}



		.section-header {
			padding: 0 0 40px 0;

			h1 {
				font-family: $schoolbook;
				font-weight: normal;
				font-size: 2em;
				text-transform: lowercase;
				letter-spacing: 0.05em;
				text-align: center;
				color: $blue;

				@include tablet-portrait {
					font-size: 3em;
				}
			}
		}

		.section-body {



			.hours {
				text-align: center;

				h3 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.8125em;
					padding: 0 0 5px 0;
					color: $blue;
				}

				p {
					font-family: $schoolbook;
					font-weight: 100;
					font-size: 1.25em;
					line-height: 1.25em;
					padding: 0 0 40px 0;

					@include tablet-portrait {
						font-size: 1.75em;
					}

					&:last-of-type {
						padding: 0;
					}

				}

			}




		}


	}


	

}

