body.page-template-location {

	section.location {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}

		.section-body {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.info {
				width: 100%;

				@include tablet-portrait {
					width: 40%;
				}

				h3 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.8125em;
					padding: 0 0 5px 0;
					color: $blue;
				}

				p {
					font-family: $schoolbook;
					font-weight: 100;
					font-size: 1.25em;
					line-height: 1.25em;
					padding: 0 0 40px 0;

					@include tablet-portrait {
						font-size: 1.75em;
					}

					&:last-of-type {
						padding: 0;
					}


					a {
						color: $slate;

						&:hover {
							text-decoration: underline;
						}						
					}

				}

			}

			.photo {
				width: 100%;
				padding-top: 20px;

				@include tablet-portrait {
					width: 60%;
					padding: 0;
				}
			}



			.map {
				padding: 20px 0 0 0;
				width: 100%;

				@include tablet-portrait {
					padding: 40px 0 0 0;
				}
			}

		}


	}	

}