body, input, textarea {
	color: $slate;
	font: 400 100%/1 $open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $open-sans;
	font-weight: bold;
}

a {
	color: $teal;
	transition: all 0.2s ease-in-out;
}

section#announcement .announcement-wrapper p {
	font-size: 1em;
}

.section-header {
	padding: 0 0 40px 0;

	&.align-center {
		text-align: center;
	}

	h1 {
		font-family: $schoolbook;
		font-weight: normal;
		font-size: 2em;
		color: $coral;
		text-transform: lowercase;
		letter-spacing: 0.05em;

		@include tablet-portrait {
			font-size: 3em;
		}
	}
}