/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2a2a2a;
$black: #000;

$cream: #FDFEFC;
$coral: #C76356;
$teal: #5C9598;
$green: #7ca669;
$blue: #345a6f;
$rust: #a24921;


/* Typography
----------------------------------*/
$open-sans: 'Open Sans', sans-serif;
$schoolbook: "schoolbook", serif;