/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
/* Media Queries
----------------------------------*/
/* Selection  */
::-moz-selection {
  background: #5C9598;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #5C9598;
  color: #fff;
  text-shadow: none; }

body {
  background: #FDFEFC url(images/bg-pablo-3.png) repeat 0 0; }

body, input, textarea {
  color: #2a2a2a;
  font: 400 100%/1 "Open Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

a {
  color: #5C9598;
  transition: all 0.2s ease-in-out; }

section#announcement .announcement-wrapper p {
  font-size: 1em; }

.section-header {
  padding: 0 0 40px 0; }
  .section-header.align-center {
    text-align: center; }
  .section-header h1 {
    font-family: "schoolbook", serif;
    font-weight: normal;
    font-size: 2em;
    color: #C76356;
    text-transform: lowercase;
    letter-spacing: 0.05em; }
    @media screen and (min-width: 768px) {
      .section-header h1 {
        font-size: 3em; } }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  background: #345a6f;
  padding-bottom: 40px; }
  @media screen and (min-width: 768px) {
    header {
      padding-bottom: 0; } }
  header .header-wrapper {
    border-color: #fff;
    border-width: 1px; }
  header .info h3 {
    font-weight: bold;
    color: #fff; }
  header .info p {
    font-family: "schoolbook", serif;
    color: #fff; }
  header.status-view .status {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  header.status-view .logo {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      header.status-view .logo {
        width: auto; } }
    header.status-view .logo .image {
      width: 80%; }
      @media screen and (min-width: 1024px) {
        header.status-view .logo .image {
          width: 100%; } }
      header.status-view .logo .image img {
        margin: 0;
        transform: none;
        max-width: 200px; }
        @media screen and (min-width: 768px) {
          header.status-view .logo .image img {
            margin: 0;
            max-width: 300px; } }
        @media screen and (min-width: 1280px) {
          header.status-view .logo .image img {
            max-width: 300px; } }
  header.status-view .message {
    color: #fff;
    width: 100%;
    flex: 1;
    text-align: center;
    padding-top: 50px; }
    @media screen and (min-width: 1024px) {
      header.status-view .message {
        padding-left: 50px;
        text-align: left;
        width: auto;
        padding-top: 0; } }
    header.status-view .message .headline {
      padding-bottom: 15px; }
      header.status-view .message .headline h2 {
        font-size: 1.5rem; }
        @media screen and (min-width: 1280px) {
          header.status-view .message .headline h2 {
            font-size: 2rem; } }
    header.status-view .message .copy p {
      font-size: 1rem;
      font-style: normal;
      line-height: 1.75em;
      font-family: "schoolbook", serif; }
      header.status-view .message .copy p + p {
        padding-top: 10px; }
      @media screen and (min-width: 1280px) {
        header.status-view .message .copy p {
          font-size: 1.25rem; } }

nav.desktop {
  background: #345a6f; }
  nav.desktop .main-nav a {
    color: #fff; }
    nav.desktop .main-nav a:after {
      padding: 0 20px; }
      @media screen and (min-width: 1280px) {
        nav.desktop .main-nav a:after {
          padding: 0 30px; } }

nav.mobile a {
  color: #fff; }

section.call-to-actions {
  background: #345a6f;
  padding-top: 20px;
  padding-bottom: 20px; }
  section.call-to-actions .btn a {
    border-color: #fff;
    color: #fff; }
    section.call-to-actions .btn a:hover {
      background: #fff;
      color: #5C9598; }
  section.call-to-actions .text p {
    font-family: "schoolbook", serif;
    color: #fff;
    font-style: italic; }

#toggle .patty {
  background: #fff; }
  #toggle .patty:after, #toggle .patty:before {
    background: #fff; }

nav .social a {
  background: none !important;
  width: 16px !important;
  height: 16px !important; }

footer {
  background: #2a2a2a; }

body.page-template-default section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-default section.standard {
      padding: 80px 0; } }
  body.page-template-default section.standard .wrapper {
    max-width: 960px; }
  body.page-template-default section.standard .section-header {
    padding: 0 0 40px 0; }
    body.page-template-default section.standard .section-header h1 {
      font-family: "schoolbook", serif;
      font-weight: normal;
      font-size: 3em;
      border-bottom: 4px solid;
      padding: 0 0 5px 0;
      display: inline-block; }
  body.page-template-default section.standard .section-body h3 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8125em;
    padding: 0 0 10px 0; }
  body.page-template-default section.standard .section-body p {
    font-family: "schoolbook", serif;
    font-weight: 100;
    font-size: 1.75em;
    padding: 0 0 40px 0; }

.popup {
  top: -44px;
  left: -10px; }
  @media screen and (min-width: 1024px) {
    .popup {
      top: -50px;
      left: -8px; } }
  .popup-link, .popup-trigger {
    background: #FDFEFC;
    color: #345a6f;
    font-family: "schoolbook", serif;
    font-size: 0.875rem;
    font-style: italic;
    text-transform: lowercase;
    font-weight: bold;
    border: 2px solid #345a6f;
    box-shadow: none !important;
    height: 72px;
    width: 72px; }
    @media screen and (min-width: 1280px) {
      .popup-link, .popup-trigger {
        height: 84px;
        width: 84px;
        font-size: 0.9375rem; } }
    .popup-link:hover, .popup-trigger:hover {
      background: #fff;
      border: 2px solid #C76356; }
    .popup-link span, .popup-trigger span {
      display: block;
      transform: rotate(-10deg); }

.popup-overlay .close {
  color: #C76356; }

.popup-overlay .info .headline h3 {
  font-size: 1.5rem;
  font-family: "schoolbook", serif;
  color: #345a6f; }
  @media screen and (min-width: 768px) {
    .popup-overlay .info .headline h3 {
      font-size: 1.75rem; } }

.popup-overlay .info .sub-headline h4 {
  font-family: "Open Sans", sans-serif;
  color: #2a2a2a; }

.popup-overlay .info .copy p {
  font-family: "Open Sans", sans-serif;
  color: #2a2a2a; }

.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #345a6f;
  font-family: "schoolbook", serif; }

section#heavy-at-home .overlay {
  background: rgba(91, 149, 152, 0.5); }
  section#heavy-at-home .overlay-wrapper {
    border: 5px solid #C76356; }

section#heavy-at-home .info .headline h1 {
  color: #C76356; }

section#heavy-at-home .info .copy p a {
  color: #5C9598; }

section#heavy-at-home .info .cta .btn {
  color: #5C9598; }
  section#heavy-at-home .info .cta .btn:hover {
    background: #5C9598;
    border-color: #5C9598; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section#cinco-de-mayo {
  padding: 40px 0 0 0; }
  body.home section#cinco-de-mayo #countdown {
    background: #cb6453;
    color: #fff;
    padding: 14px 10px 10px 10px;
    text-align: center; }
    body.home section#cinco-de-mayo #countdown h2 {
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      line-height: 1.5em;
      font-size: 1em;
      font-weight: bold; }

body.home section#photos {
  padding: 40px 0 20px 0; }
  body.home section#photos .wrapper {
    max-width: 100%;
    padding: 0 0; }
  body.home section#photos .photos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.home section#photos .photos-wrapper .photo {
      width: 100%; }
      body.home section#photos .photos-wrapper .photo + .photo {
        padding: 20px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.home section#photos .photos-wrapper .photo {
          width: 32.8333%; }
          body.home section#photos .photos-wrapper .photo + .photo {
            padding: 0; } }

body.home section#info {
  margin: 0 0 20px 0; }
  body.home section#info .info-wrapper {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    body.home section#info .info-wrapper .photo {
      width: 100%;
      padding: 0 0 20px 0; }
      @media screen and (min-width: 768px) {
        body.home section#info .info-wrapper .photo {
          width: 50%;
          padding: 0; } }
      @media screen and (min-width: 1024px) {
        body.home section#info .info-wrapper .photo {
          width: 30%; } }
      body.home section#info .info-wrapper .photo img {
        transform: rotate(-0.5deg); }
    body.home section#info .info-wrapper .description {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.home section#info .info-wrapper .description {
          width: 50%;
          padding: 0 0 0 40px; } }
      @media screen and (min-width: 1024px) {
        body.home section#info .info-wrapper .description {
          width: 70%; } }
      body.home section#info .info-wrapper .description p {
        font-family: "schoolbook", serif;
        font-size: 1em;
        line-height: 1.5em; }
        @media screen and (min-width: 1024px) {
          body.home section#info .info-wrapper .description p {
            font-size: 1.25em; } }
    body.home section#info .info-wrapper .contact-details {
      padding-top: 50px;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      @media screen and (min-width: 568px) {
        body.home section#info .info-wrapper .contact-details {
          display: flex;
          justify-content: space-between; }
          body.home section#info .info-wrapper .contact-details > * {
            width: calc(50% - 25px); } }
      body.home section#info .info-wrapper .contact-details .location {
        padding-top: 50px; }
        @media screen and (min-width: 568px) {
          body.home section#info .info-wrapper .contact-details .location {
            padding-top: 0; } }
      body.home section#info .info-wrapper .contact-details h3 {
        color: #C76356;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding-bottom: 10px; }
      body.home section#info .info-wrapper .contact-details p {
        font-family: "schoolbook", serif;
        font-size: 1em;
        line-height: 1.5em; }
        @media screen and (min-width: 1024px) {
          body.home section#info .info-wrapper .contact-details p {
            font-size: 1.25em; } }

body.home section#announcement + section#photos {
  padding-top: 10px; }

body.page-template-hours section.standard {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-hours section.standard {
      padding: 80px 0; } }
  body.page-template-hours section.standard .wrapper {
    max-width: 400px; }
    @media screen and (min-width: 768px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-hours section.standard .wrapper {
        max-width: 400px;
        padding: 0; } }
  body.page-template-hours section.standard .section-header {
    padding: 0 0 40px 0; }
    body.page-template-hours section.standard .section-header h1 {
      font-family: "schoolbook", serif;
      font-weight: normal;
      font-size: 2em;
      text-transform: lowercase;
      letter-spacing: 0.05em;
      text-align: center;
      color: #345a6f; }
      @media screen and (min-width: 768px) {
        body.page-template-hours section.standard .section-header h1 {
          font-size: 3em; } }
  body.page-template-hours section.standard .section-body .hours {
    text-align: center; }
    body.page-template-hours section.standard .section-body .hours h3 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.8125em;
      padding: 0 0 5px 0;
      color: #345a6f; }
    body.page-template-hours section.standard .section-body .hours p {
      font-family: "schoolbook", serif;
      font-weight: 100;
      font-size: 1.25em;
      line-height: 1.25em;
      padding: 0 0 40px 0; }
      @media screen and (min-width: 768px) {
        body.page-template-hours section.standard .section-body .hours p {
          font-size: 1.75em; } }
      body.page-template-hours section.standard .section-body .hours p:last-of-type {
        padding: 0; }

body.page-template-gallery .jp-carousel-info {
  display: none; }

body.page-template-gallery .jp-carousel-overlay {
  opacity: 0.98 !important; }

body.page-template-gallery .jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px; }

body.page-template-gallery section.gallery {
  padding: 40px 0; }
  body.page-template-gallery section.gallery .section-header {
    padding: 0 0 40px 0; }
    body.page-template-gallery section.gallery .section-header h1 {
      font-family: "schoolbook", serif;
      font-weight: normal;
      font-size: 2em;
      border-bottom: 4px solid;
      padding: 0 0 5px 0;
      display: inline-block;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body.page-template-gallery section.gallery .section-header h1 {
          font-size: 3em; } }

body.page-template-menu .menu-item .info {
  padding: 15px 0 0 0; }
  body.page-template-menu .menu-item .info a.title {
    font-size: 1.25em; }

body.page-template-location section.location {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-location section.location {
      padding: 80px 0; } }
  body.page-template-location section.location .section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body.page-template-location section.location .section-body .info {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .info {
          width: 40%; } }
      body.page-template-location section.location .section-body .info h3 {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.8125em;
        padding: 0 0 5px 0;
        color: #345a6f; }
      body.page-template-location section.location .section-body .info p {
        font-family: "schoolbook", serif;
        font-weight: 100;
        font-size: 1.25em;
        line-height: 1.25em;
        padding: 0 0 40px 0; }
        @media screen and (min-width: 768px) {
          body.page-template-location section.location .section-body .info p {
            font-size: 1.75em; } }
        body.page-template-location section.location .section-body .info p:last-of-type {
          padding: 0; }
        body.page-template-location section.location .section-body .info p a {
          color: #2a2a2a; }
          body.page-template-location section.location .section-body .info p a:hover {
            text-decoration: underline; }
    body.page-template-location section.location .section-body .photo {
      width: 100%;
      padding-top: 20px; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .photo {
          width: 60%;
          padding: 0; } }
    body.page-template-location section.location .section-body .map {
      padding: 20px 0 0 0;
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.page-template-location section.location .section-body .map {
          padding: 40px 0 0 0; } }
