section#heavy-at-home {

	.overlay {
		background: rgba(91, 149, 152, 0.5);
		
		&-wrapper {
			border: 5px solid $coral;
		}
	}

	.info {

		.headline {
			h1 {
				color: $coral;
			}
		}

		.copy {
			p {
				a {
					color: $teal;
				}
			}
		}

		.cta {
			.btn {
				color: $teal;

				&:hover {
					background: $teal;
					border-color: $teal;
				}
			}
		}	
	}
}