.popup {
	top: -44px;
	left: -10px;

	@include tablet-landscape {
		top: -50px;
		left: -8px;
	}

	&-link,
	&-trigger {
		background: $cream;
		color: $blue;
		font-family: $schoolbook;
		font-size: 0.875rem;
		font-style: italic;
		text-transform: lowercase;
		font-weight: bold;
		border: 2px solid $blue;
		box-shadow: none !important;
		height: 72px;
		width: 72px;

		@include desktop {
			height: 84px;
			width: 84px;
			font-size: 0.9375rem;
		}

		&:hover {
			background: $white;
			border: 2px solid $coral;
		}

		span {
			display: block;
			transform: rotate(-10deg);
		}
	}
}

.popup-overlay {

	.close {
		color: $coral;
	}

	.info {
		.headline {
			h3 {
				font-size: 1.5rem;
				font-family: $schoolbook;
				color: $blue;

				@include tablet-portrait {
					font-size: 1.75rem;
				}
			}
		}

		.sub-headline {
			h4 {
				font-family: $open-sans;
				color: $slate;
			}

		}

		.copy {
			p {
				font-family: $open-sans;
				color: $slate;
			}
		}

		.btn {
			a {
				font-size: 1.125rem;
				color: $blue;
				font-family: $schoolbook;
			}			
		}
	}
}